@import url('https://fonts.googleapis.com/css?family=Audiowide|Questrial&display=swap');



*,::before,::after {
  box-sizing: border-box;
}

a {
          color: inherit;
          text-decoration: inherit;
        }
        ol,
        ul,
        menu {
          list-style: none;
          margin: 0;
          padding: 0;
        }
        
        blockquote,
        dl,
        dd,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        hr,
        figure,
        p,
        pre {
          margin: 0;
        }                        

html {
  font-family: 'Audiowide', sans-serif;
}                      

.relative{
  position: relative;
}
.left-0{
  left: 0px;
}
.top-0{
  top: 0px;
}
.z-20{
  z-index: 20;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.mb-5{
  margin-bottom: 1.25rem;
}
.mt-28{
  margin-top: 7rem;
}
.box-border{
  box-sizing: border-box;
}
.flex{
  display: flex;
}
.h-14{
  height: 3.5rem;
}
.h-\[30px\]{
  height: 30px;
}
.w-10\/12{
  width: 83.333333%;
}
.w-11\/12{
  width: 91.666667%;
}
.w-\[30px\]{
  width: 30px;
}
.w-\[440px\]{
  width: 440px;
}
.w-full{
  width: 100%;
}
.max-w-\[90vw\]{
  max-width: 90vw;
}
.flex-1{
  flex: 1 1 0%;
}
.shrink-0{
  flex-shrink: 0;
}
.cursor-pointer{
  cursor: pointer;
}
.flex-row{
  flex-direction: row;
}
.flex-col{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.items-center{
  align-items: center;
}
.justify-start{
  justify-content: flex-start;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.gap-10{
  gap: 2.5rem;
}
.gap-2{
  gap: 0.5rem;
}
.gap-4{
  gap: 1rem;
}
.gap-5{
  gap: 1.25rem;
}
.gap-8{
  gap: 2rem;
}
.overflow-hidden{
  overflow: hidden;
}
.border-y{
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.border-b-\[1px\]{
  border-bottom-width: 1px;
}
.border-solid{
  border-style: solid;
}
.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.bg-\[transparent\]{
  background-color: transparent;
}
.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}
.p-0{
  padding: 0px;
}
.px-0{
  padding-left: 0px;
  padding-right: 0px;
}
.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pb-10{
  padding-bottom: 2.5rem;
}
.pb-5{
  padding-bottom: 1.25rem;
}
.pb-60{
  padding-bottom: 15rem;
}
.pb-9{
  padding-bottom: 2.25rem;
}
.pt-0{
  padding-top: 0px;
}
.pt-10{
  padding-top: 2.5rem;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-7xl{
  font-size: 4.5rem;
  line-height: 1;
}
.leading-\[36px\]{
  line-height: 36px;
}
.\[border\:none\]{
  border: none;
}
.\[outline\:none\]{
  outline: none;
}

body{
  --tw-bg-opacity: 1;
  background-color: rgb(5 5 5 / var(--tw-bg-opacity));
}
body, html {
    min-height: 100vh;
}
@media (min-width: 1024px){.lg\:container{
    width: 100%;
  }@media (min-width: 640px){.lg\:container{
      max-width: 640px;
    }
  }@media (min-width: 768px){.lg\:container{
      max-width: 768px;
    }
  }@media (min-width: 1024px){.lg\:container{
      max-width: 1024px;
    }
  }@media (min-width: 1280px){.lg\:container{
      max-width: 1280px;
    }
  }@media (min-width: 1536px){.lg\:container{
      max-width: 1536px;
    }
  }
}
.hover\:box-border:hover{
  box-sizing: border-box;
}
.hover\:animate-\[1s_ease_0s_1_normal_none_scale-up\]:hover{
  animation: 1s ease 0s 1 normal none scale-up;
}
.hover\:border-\[1px\]:hover{
  border-width: 1px;
}
.hover\:border-solid:hover{
  border-style: solid;
}
.hover\:border-black:hover{
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}
.hover\:opacity-\[1\]:hover{
  opacity: 1;
}
@media (min-width: 640px){.sm\:box-border{
    box-sizing: border-box;
  }.sm\:flex{
    display: flex;
  }.sm\:h-auto{
    height: auto;
  }.sm\:w-auto{
    width: auto;
  }.sm\:flex-row{
    flex-direction: row;
  }.sm\:items-center{
    align-items: center;
  }.sm\:justify-start{
    justify-content: flex-start;
  }.sm\:gap-\[0px\]{
    gap: 0px;
  }.sm\:self-stretch{
    align-self: stretch;
  }.sm\:pl-0{
    padding-left: 0px;
  }.sm\:\[align-self\:unset\]{
    align-self: unset;
  }
}
@media (min-width: 768px){.md\:w-6\/12{
    width: 50%;
  }
}
