<html wp-template wp-template-export-as="about.php" wp-template-post-template wp-template-post-template-name="About Us" wp-site-content> 
    <section class="hero-banner py-120 relative"> 
        <div class="max-w-[90vw] mx-auto  w-full lg:container"> 
            <div class="flex"> 
                <div class="w-10/12"> 
                    <h1 class="hero-title" wp-acf-get-field-2="banner_title"> about us  </h1> 
                    <div class="hero-content mb-5" wp-acf-get-field-3="banner_content"> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>                     
                </div>                 
            </div>             
        </div>         
        <img src="assets/images/banner-eclipse-left.svg" class="cirle-left"> 
    </section>     
    <section class="result-driven py-120 relative" data-pgc="result-driven-service"> 
        <div class="max-w-[90vw] mx-auto py-8 w-full lg:container"> 
            <div class="flex flex-row sm:flex result-driven-row"> 
                <div class="sm:w-12/12 md:w-6/12"> 
                    <h3 class="large-inner-heading pb-5" wp-acf-get-field-5="result_driven_service_title"> Result Driven Service </h3> 
                    <div class="large-content-text" wp-acf-get-field-5="result_driven_service_content"> 
                        As digital marketers, Mage H.D. understands the importance of
                        having a comprehensive marketing strategy for any business. We are
                        focused on driving results that will help you generate more leads,
                        increase sales and grow your revenue all from one platform. You
                        will have access to our team of experienced professionals who can
                        customize campaigns specifically for your business that is
                        tailored to achieve maximum results with the best ROI possible. 
</div>                     
                </div>                 
                <div class="sm:w-12/12 md:w-6/12"> 
                    <img class="result-driven-img" alt="" src="assets/images/resulte-driven-img.svg" wp-acf-get-field-5="result_driven_service_image" wp-acf-get-field-5-set="attr" wp-acf-get-field-5-set-get-image wp-acf-get-field-5-set-attr="src"/> 
                </div>                 
            </div>             
        </div>         
        <img src="assets/images/eclipse-left.svg" class="cirle-left"> 
    </section>     
    <section class="recog-section py-120 border-y border-#F2F2F2 relative" data-pgc="our-recognitions"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <h3 class="large-inner-heading text-center"> Our recognitions</h3> 
            <div class="recog-list"> 
                <div class="recog-list-logo flex justify-center gap-5"> 
                    <img alt="logo" src="assets/images/BBB-logo.svg"/> 
                </div>                 
                <div class="recog-list-logo flex justify-center gap-5"> 
                    <img alt="logo" src="assets/images/clucth-florida.svg"/> 
                    <img alt="logo" src="assets/images/clucth-us.svg"/> 
                    <img alt="logo" src="assets/images/clucth-black-owned.svg"/> 
                    <img alt="logo" src="assets/images/clucth-tampa.svg"/> 
                </div>                 
            </div>             
            <img src="assets/images/eclipse-left.svg" class="cirle-left"> 
            <img src="assets/images/eclipse-right.svg" class="cirle-right"> 
        </div>         
    </section>     
    <section class="our-mission py-120 relative"> 
        <div class="max-w-[90vw] mx-auto py-8 w-full lg:container"> 
            <div class="flex flex-row sm:flex gap-5"> 
                <div class="sm:w-12/12 md:w-6/12"> 
                    <img class="our-mission-img" alt="" src="assets/images/resulte-driven-img.svg" wp-acf-get-field-5="our_mission_image" wp-acf-get-field-5-set="attr" wp-acf-get-field-5-set-get-image wp-acf-get-field-5-set-attr="src"/> 
                </div>                 
                <div class="sm:w-12/12 md:w-6/12"> 
                    <h3 class="large-inner-heading pb-5" wp-acf-get-field-5="our_mission_title"> Result Driven Service </h3> 
                    <div class="large-content-text flex flex-col gap-5" wp-acf-get-field-5="our_mission_content"> 
                        As digital marketers, Mage H.D. understands the importance of
                        having a comprehensive marketing strategy for any business. We are
                        focused on driving results that will help you generate more leads,
                        increase sales and grow your revenue all from one platform. You
                        will have access to our team of experienced professionals who can
                        customize campaigns specifically for your business that is
                        tailored to achieve maximum results with the best ROI possible. 
</div>                     
                </div>                 
            </div>             
        </div>         
    </section>     
    <section class="web-design py-120 border-y border-#F2F2F2">
        <div class="max-w-[90vw] mx-auto w-full lg:container">
            <h3 class="large-inner-heading text-center">Services we<br> provide</h3>
            <div class="about-webservice owl-carousel mt-28">
                <div class="webdesign item" cms-post="query" cms-post-type="service" wp-loop="service" wp-loop-category-name="web-development" wp-loop-order="DESC">
                    <div class="webservice-info flex flex-col flex-wrap	 gap-8">
                        <div class="serial-count" wp-acf-get-field-5="serial_count">1</div>
                        <h4 class="medium-inner-heading" cms-post-title>Web Design & Development</h4><a href="#" cms-post-link class="border-btn"> <span>Explore</span> <i class="fa-solid fa-arrow-right"></i> </a> 
                    </div>
                </div>
            </div>
        </div>
    </section>     
    <section class="client-testimonial-section py-120 relative" data-pgc="client-testimonial"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <h3 class="large-inner-heading text-center pb-60">Client’s Testimonials</h3> 
            <div class="large-content-text text-center"> 
                Our clients love our services because they appreciate the quality of work that we deliver and the attentive customer service that they receive. They also enjoy the convenience of our fast turnaround times, which helps them meet their deadlines.
</div>             
        </div>         
        <div class="testimonial-wrapper owl-carousel"> 
            <div class="item testimonial-item" cms-post="query" cms-post-type="testimonial" wp-loop="testimonial" wp-loop-order="DESC" cms-post-type-order="date DESC"> 
                <div class="testimonial-img"> 
                    <img class="testimonial-image-icon" alt="" src="assets/images/rectangle-14@2x.png" cms-post-image/> 
                </div>                 
                <div class="testimonial-list"> 
                    <div class="quote-warp"> 
                        <img class="quote-icon" alt="" src="assets/images/quote.svg"/> 
                    </div>                     
                    <div class="testimonial-comment large-content-text" cms-post-content> 
                        I saw an increase in my sales right in time for Black Friday!  
</div>                     
                    <div class="testimonial-info"> 
                        <h4 class="testimonial-name" cms-post-title>Gina Paige</h4> <a href="#" class="testimonial-web-link large-content-text" cms-post-field="website_url" cms-post-field-type="content" cms-post-field-acf>Africanancestry.com</a> 
                    </div>                     
                </div>                 
            </div>             
        </div>         
        <img src="assets/images/eclipse-left.svg" class="cirle-left"> 
        <img src="assets/images/eclipse-right.svg" class="cirle-right"> 
    </section>     
    <section class="contact-us-before-footer py-120 border-y border-#F2F2F2" data-pgc="lets-create-business"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <div class="contact-us-before-footer-col contact-us-before-footer-col flex flex-wrap justify-center"> 
                <h3 class="large-inner-heading text-center"> 
                            let’s create remarkable experience for your business </h3> <a href="/contact-us/" class="bg-blue-btn view-all-btn"> <span>Contact us</span> <i class="fa-solid fa-arrow-right"></i> </a> 
            </div>             
        </div>         
    </section>     
</html>