<html wp-template wp-template-export-as="contact-us.php" wp-template-post-template wp-template-post-template-name="Contact Us" wp-site-content> 
    <section class="hero-banner py-120 relative"> 
        <div class="max-w-[90vw] mx-auto  w-full lg:container"> 
            <div class="flex"> 
                <div class="w-10/12"> 
                    <h1 class="hero-title" wp-acf-get-field-2="banner_title" > contact us  </h1> 
                    <div class="hero-content mb-5" wp-acf-get-field-3="banner_content"> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>                     
                </div>                 
            </div>             
        </div>         
        <img src="assets/images/banner-eclipse-left.svg" class="cirle-left"> 
    </section>     
    <section class="your-project py-120 border-y border-#F2F2F2 relative"> 
        <div class="max-w-[90vw] mx-auto py-8 w-full lg:container"> 
            <div class="flex flex-row sm:flex gap-10"> 
                <div class="sm:w-12/12 md:w-6/12"> 
                    <h3 class="large-inner-heading pb-5"> LEt’s work on your project</h3> 
                    <div wp-acf-get-field="choose_form" wp-acf-get-field-set="element"></div>                     
                </div>                 
                <div class="sm:w-12/12 md:w-6/12"> 
                    <div class="contact-list">
                        <div class="flex flex-col gap-5" cms-section="contact_info" cms-section-title="Contact Infromation" cms-section-prefix="true"> 
                            <div class="contact-location" cms-editable="location" cms-editable-type="content" cms-editable-label="Location" cms-editable-section="contact_info"> 
                                610 E Zack St.  Ste 110-2177Tampa, FL 33602
</div>                             
                            <div class="contact-no" cms-editable="phone" cms-editable-type="content" cms-editable-label="Contact No" cms-editable-section="contact_info" cms-editable-textarea>800-344-5345
</div>                             
                            <div class="contact-email" cms-editable="email" cms-editable-type="content" cms-editable-label="Email" cms-editable-section="contact_info" cms-editable-textarea>hello@magehd.com
</div>                             
                        </div>                         
                        <div class="social-list flex gap-4" cms-section="social_link" cms-section-title="Social Link"> <a href="#" target="_blank" cms-editable="facebook" cms-editable-type="link" cms-editable-label="Facebook" cms-editable-section="social_link"><img src="assets/images/facebook.svg" alt="" class="social-icon"></a><a href="#" target="_blank" cms-editable="twitter" cms-editable-type="link" cms-editable-label="Twitter" cms-editable-section="social_link"><img src="assets/images/twitter.svg" alt="" class="social-icon"></a><a href="#" target="_blank" cms-editable="linkedin" cms-editable-type="link" cms-editable-label="LinkedIn" cms-editable-section="social_link"><img src="assets/images/linkedin.svg" alt="" class="social-icon"></a><a href="#" target="_blank" cms-editable="instagram" cms-editable-type="link" cms-editable-label="Instagram" cms-editable-section="social_link"><img src="assets/images/instagram.svg" alt="" class="social-icon"></a>
                        </div>                         
                    </div>                     
                </div>                 
            </div>             
        </div>
        <img src="assets/images/eclipse-left.svg" class="cirle-left"> 
    </section>
