@import url('https://fonts.googleapis.com/css?family=Audiowide|Questrial&display=swap');



*,::before,::after {
  box-sizing: border-box;
}

a {
          color: inherit;
          text-decoration: inherit;
        }
        ol,
        ul,
        menu {
          list-style: none;
          margin: 0;
          padding: 0;
        }
        
        blockquote,
        dl,
        dd,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        hr,
        figure,
        p,
        pre {
          margin: 0;
        }                        

html {
  font-family: 'Audiowide', sans-serif;
}                      

.relative{
  position: relative;
}
.left-0{
  left: 0px;
}
.top-0{
  top: 0px;
}
.z-20{
  z-index: 20;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.mb-5{
  margin-bottom: 1.25rem;
}
.mt-28{
  margin-top: 7rem;
}
.flex{
  display: flex;
}
.h-14{
  height: 3.5rem;
}
.w-10\/12{
  width: 83.333333%;
}
.w-11\/12{
  width: 91.666667%;
}
.w-full{
  width: 100%;
}
.max-w-\[90vw\]{
  max-width: 90vw;
}
.flex-row{
  flex-direction: row;
}
.flex-col{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.items-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.gap-10{
  gap: 2.5rem;
}
.gap-2{
  gap: 0.5rem;
}
.gap-4{
  gap: 1rem;
}
.gap-5{
  gap: 1.25rem;
}
.gap-8{
  gap: 2rem;
}
.border-y{
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}
.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pb-10{
  padding-bottom: 2.5rem;
}
.pb-5{
  padding-bottom: 1.25rem;
}
.pb-60{
  padding-bottom: 15rem;
}
.pb-9{
  padding-bottom: 2.25rem;
}
.pt-10{
  padding-top: 2.5rem;
}
.text-center{
  text-align: center;
}

body{
  --tw-bg-opacity: 1;
  background-color: rgb(5 5 5 / var(--tw-bg-opacity));
}
body, html {
    min-height: 100vh;
}
@media (min-width: 1024px){.lg\:container{
    width: 100%;
  }@media (min-width: 640px){.lg\:container{
      max-width: 640px;
    }
  }@media (min-width: 768px){.lg\:container{
      max-width: 768px;
    }
  }@media (min-width: 1024px){.lg\:container{
      max-width: 1024px;
    }
  }@media (min-width: 1280px){.lg\:container{
      max-width: 1280px;
    }
  }@media (min-width: 1536px){.lg\:container{
      max-width: 1536px;
    }
  }
}
@media (min-width: 640px){.sm\:flex{
    display: flex;
  }
}
@media (min-width: 768px){.md\:w-6\/12{
    width: 50%;
  }
}
