<html wp-template wp-template-export-as="affiliate-area.php" wp-template-post-template wp-template-post-template-name="Affiliate Area" wp-site-content> 
    <section class="hero-banner py-120 relative"> 
        <div class="max-w-[90vw] mx-auto  w-full lg:container"> 
            <div class="flex"> 
                <div class="w-10/12"> 
                    <h1 class="hero-title" wp-acf-get-field-2="banner_title"> affiliate program  </h1> 
                    <div class="hero-content mb-5" wp-acf-get-field-3="banner_content"> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>                     
                </div>                 
            </div>             
        </div>         
        <img src="assets/images/banner-eclipse-left.svg" class="cirle-left"> 
    </section> 