<html wp-template wp-template-export-as="contact-us.php" wp-template-post-template wp-template-post-template-name="Contact Us" wp-site-content> 
    <section class="hero-banner py-120" style="position: relative;"> 
        <div class="max-w-[90vw] mx-auto  w-full lg:container"> 
            <div class="flex"> 
                <div class="w-10/12"> 
                    <h1 class="hero-title" wp-acf-get-field-2="banner_title" style="font-family: 'Audiowide', sans-serif; color: #3B65AF; font-weight: 400; font-size: 70px; line-height: 100px; text-transform: uppercase;"> contact us  </h1> 
                    <div class="hero-content mb-5" wp-acf-get-field-3="banner_content" style="font-family: 'Questrial', sans-serif; font-size: 26px; font-weight: 500; padding-top: 40px; padding-bottom: 40px; line-height: 36px; color: #F2F2F2;"> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>                     
                </div>                 
            </div>             
        </div>         
        <img src="assets/images/banner-eclipse-left.svg" class="cirle-left"> 
    </section>     
    <section class="your-project py-120" style="position: relative;"> 
        <div class="max-w-[90vw] mx-auto py-8 w-full lg:container"> 
            <div class="flex flex-row sm:flex"> 
                <div class="sm:w-12/12 md:w-6/12"> 
                    <h3 class="large-inner-heading pb-5"> LEt’s work on your project</h3> 
                    <div wp-acf-get-field="choose_form" wp-acf-get-field-set="element"></div>                     
                </div>                 
                <div class="sm:w-12/12 md:w-6/12"> 
                    <div class="contact-list">
                        <div class="contact-location">
                            610 E Zack St.  Ste 110-2177 Tampa, FL 33602
                        </div>
                        <div class="contact-no">
                            <a href="tel:8003445345">800-344-5345</a>
                        </div>
                        <div class="contact-email">
                            <a href="mailto:hello@magehd.com">hello@magehd.com</a>
                        </div>
                    </div>
                    <div class="social-list">
                        
                    </div>
                </div>                 
            </div>             
        </div>         
    </section>
