<html wp-template wp-template-export-as="home.php" wp-template-post-template wp-template-post-template-name="Home" wp-site-content> 
    <section class="home-banner"> 
        <div class="max-w-[90vw] mx-auto py-8 w-full lg:container"> 
            <div class="flex"> 
                <div class="w-10/12"> 
                    <h1 class="hero-title" wp-acf-get-field-2="banner_title" style="font-family: 'Audiowide', sans-serif; color: #3B65AF; font-weight: 400; font-size: 70px; line-height: 100px;"> 
                            Digital marketing Services  </h1> 
                    <div class="hero-content mb-5" wp-acf-get-field-3="banner_content" style="font-family: 'Questrial', sans-serif; font-size: 26px; font-weight: 500; padding-top: 40px; padding-bottom: 40px; line-height: 36px; color: #F2F2F2;"> 
                        We offer the best digital marketing services to help you boost
                        your business online. With our comprehensive list of services, we
                        can generate more leads, increase website traffic and conversions,
                        gain better visibility across search engines, and help you build a
                        stronger online presence. Our team of experienced professionals is
                        here to work with you every step of the way on improving your
                        digital marketing efforts. 
</div>
                    <a href="#" class="blue-btn" wp-acf-get-field-4="banner_button_link" wp-acf-get-field-4-set="href"> <span wp-acf-get-field-5="banner_button_text">Start a Project</span> <i class="fa-solid fa-arrow-right"></i> </a> 
                </div>                 
            </div>             
        </div>         
        <img src="assets/images/banner-eclipse-left.svg" class="cirle-left"> 
    </section>     
    <section class="home-video-section py-120"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container" style="display: flex; vertical-align: middle; justify-content: center;"> 
            <iframe title="Dummy Video For Website" width="992" height="650" src="https://www.youtube.com/embed/D0UnqGm_miA?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="" wp-acf-get-field-5="feature_video" wp-acf-get-field-5-set="src"></iframe>             
        </div>         
    </section>     
    <section class="featured py-120" data-pgc-section="We Featured IN" data-pgc-define="We Featured IN"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container" style="vertical-align: middle; justify-content: center; display: flex; flex-direction: column; align-items: center;"> 
            <h3 class="large-inner-heading text-center">We Featured IN</h3> 
            <div class="featured-list" style="display: flex; vertical-align: middle; align-items: center; justify-content: center; gap: 20px; margin-top: 80px;"> 
                <div class="featured-logo" cms-post="query" cms-post-type="industry_partners" cms-post-type-count="5" cms-post-type-ignore-shown> 
                    <img class="capa-2-icon" alt="" src="assets/images/capa.svg" cms-post-image/> 
                </div>                 
            </div>             
        </div>         
    </section>     
    <section class="result-driven py-120" style="position: relative;" data-pgc-section="result-service" data-pgc-define="result-driven-service" data-pgc-define-name="Result  Driven Service"> 
        <div class="max-w-[90vw] mx-auto py-8 w-full lg:container"> 
            <div class="flex flex-row sm:flex" style="display: flex; vertical-align: middle; align-items: flex-end; gap: 20px;"> 
                <div class="sm:w-12/12 md:w-6/12"> 
                    <h3 class="large-inner-heading pb-5" wp-acf-get-field-5="result_driven_service_title"> Result Driven Service </h3> 
                    <div class="large-content-text" wp-acf-get-field-5="result_driven_service_content"> 
                        As digital marketers, Mage H.D. understands the importance of
                        having a comprehensive marketing strategy for any business. We are
                        focused on driving results that will help you generate more leads,
                        increase sales and grow your revenue all from one platform. You
                        will have access to our team of experienced professionals who can
                        customize campaigns specifically for your business that is
                        tailored to achieve maximum results with the best ROI possible. 
</div>                     
                </div>                 
                <div class="sm:w-12/12 md:w-6/12"> 
                    <img class="result-driven-img" alt="" src="assets/images/resulte-driven-img.svg" wp-acf-get-field-5="result_driven_service_image" wp-acf-get-field-5-set="attr" wp-acf-get-field-5-set-get-image wp-acf-get-field-5-set-attr="src"/> 
                </div>                 
            </div>             
        </div>         
        <img src="assets/images/eclipse-left.svg" class="cirle-left"> 
    </section>     
    <section class="digitalservices py-120"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <h3 class="large-inner-heading text-center pb-60">Digital Marketing Services</h3> 
            <div class="large-content-text text-center" wp-category-description="217,1" wp-category-description-set="content"> 
                Our full service digital marketing service is a comprehensive
                approach to creating and executing a successful online presence for
                businesses. It involves an integrated suite of online marketing
                services that are designed to drive results in key areas, including
                website design and development, search engine optimization (SEO),
                content marketing, social media marketing, email marketing
                campaigns, paid media advertising, analytics, and reporting. 
</div>             
        </div>         
        <div class="digital-inner-section" style="position: relative;"> 
            <div class="max-w-[90vw] mx-auto w-full lg:container"> 
                <div class="flex flex-row sm:flex digitalservices-inner-row"> 
                    <div class="digitalservices-col sm:w-12/12 md:w-6/12"> 
                        <div class="digitalservices-list" cms-post="query" cms-post-type="service" wp-loop="service" wp-loop-category-name="digital-marketing" wp-loop-order="DESC"> 
                            <h4 class="medium-inner-heading" cms-post-title> 
                        01 Search Engine Optimization </h4> 
                            <div class="medium-content-text" cms-post-excerpt> 
                                Our service is dedicated to helping our clients achieve higher
                                search engine rankings through a comprehensive SEO strategy.
                                We analyze our clients' websites and create customized plans
                                that are tailored to their specific needs and goals. 
</div>                             <a href="#" cms-post-link class="border-btn"> <span>Explore</span> <i class="fa-solid fa-arrow-right"></i> </a> 
                        </div>                         
                    </div>                     
                </div>                 
            </div>             
            <div class="sm:w-12/12 md:w-6/12"> 
                <img class="digital-img" alt="" src="assets/images/digital-img.svg"/> 
            </div>             
        </div>         
    </section>     
    <section class="recog-section py-120" style="position: relative;" data-pgc-section="Our recognitions" data-pgc-define="our-recognitions" data-pgc-define-name="Our recognitions"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <h3 class="large-inner-heading text-center"> Our recognitions </h3> 
            <div class="recog-list"> 
                <div class="recog-list-logo flex justify-center gap-5"> 
                    <img alt="logo" src="assets/images/BBB-logo.svg"/> 
                </div>                 
                <div class="recog-list-logo flex justify-center gap-5"> 
                    <img alt="logo" src="assets/images/clucth-florida.svg"/> 
                    <img alt="logo" src="assets/images/clucth-us.svg"/> 
                    <img alt="logo" src="assets/images/clucth-black-owned.svg"/> 
                    <img alt="logo" src="assets/images/clucth-tampa.svg"/> 
                </div>                 
            </div>             
            <img src="assets/images/eclipse-left.svg" class="cirle-left"> 
            <img src="assets/images/eclipse-right.svg" class="cirle-right"> 
        </div>         
    </section>     
    <section class="why-us-section py-120"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <h3 class="large-inner-heading text-center pb-60" wp-acf-get-field="why_magehd_title">why mage h.d.</h3> 
            <div class="large-content-text text-center" wp-acf-get-field="why_magehd_content"> 
                Mage H.D. Inc is the premier choice for digital marketing companies
                in USA when it comes to digital marketing solutions. Our team of
                experienced professionals has a deep understanding of the digital
                marketing landscape and can provide unique, comprehensive strategies
                that fit your budget and timeline. With our expertise and commitment
                to customer satisfaction, you can be sure your goals will be met
                with success. We combine innovative technologies with creative
                campaigns to ensure maximum reach and engagement, making us the
                ultimate partner for any business looking to grow their online
                presence. Mage H.D. Inc stands above other digital marketing
                agencies because of our proven track record of success and
                dedication to excellence. 
</div>             
            <iframe title="Dummy Video For Website" width="992" height="650" src="https://www.youtube.com/embed/D0UnqGm_miA?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="" wp-acf-get-field-5="why_magehd_video" wp-acf-get-field-5-set="src"></iframe>             
        </div>         
    </section>     
    <section class="web-design py-120"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <h3 class="large-inner-heading text-center pb-60">Web Design & Development Services</h3> 
            <div class="large-content-text text-center" wp-category-description="218,6" wp-category-description-set="content"> 
                Here's a list of our professional services. 
</div>             
        </div>         
        <div class="webservice-wrapper owl-carousel"> 
            <div class="webdesign item" cms-post="query" cms-post-type="service" wp-loop="service" wp-loop-category-name="web-development" wp-loop-order="DESC"> 
                <div class="webservice-info flex flex-col flex-wrap	 gap-8"> 
                    <div class="serial-count" wp-acf-get-field-5="serial_count">1</div>                     
                    <h4 class="medium-inner-heading" cms-post-title>Web Design & Development</h4> 
                    <p class="medium-content-text" cms-post-excerpt> 
                            Our expert team of web designers and developers will create a
                            visually stunning and fully functional website tailored to
                            your unique brand, ensuring a seamless user experience that
                            drives conversions and boosts your business growth.  </p> <a href="#" cms-post-link class="border-btn"> <span>Explore</span> <i class="fa-solid fa-arrow-right"></i> </a> 
                </div>                 
            </div>             
        </div>         
    </section>     
    <section class="project py-120"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <h3 class="large-inner-heading text-center">Check out or recent website projects</h3> 
            <div class="blog-category"> 
                <button class="border-btn web-deisgn active" id="all"> 
                    All
</button>                 
                <button class="border-btn web-deisgn" id="category-digital-marketing"> 
                    Digital Marketing                        
</button>                 
                <button class="border-btn web-deisgn" id="category-web-development"> 
                    Web Development
</button>                 
            </div>             
            <div class="project-main-wrapper flex flex-wrap justify-between gap-5"> 
                <div class="project-detail md:w-6/12" cms-post="query" cms-post-type="partners" wp-loop="partners" wp-loop-order="DESC" cms-post-type-order="name ASC" cms-post-type-count="4"> 
                    <img class="project-cover-img" alt="Website Project" src="./assets/images/koilsimg@2x.png" cms-post-image/> 
                    <h4 class="project-title" cms-post-title>Treckians</h4>
                    <a href="#" cms-post-link class="explore-more"> <span>Explore</span> </a> 
                </div>                 
            </div>             
            <div class="view-all-btn-warp"> <a href="/partners/" cms-post-link class="border-btn view-all-btn"> <span>View All</span> <i class="fa-solid fa-arrow-right"></i> </a> 
            </div>             
        </div>         
    </section>     
    <section class="client-testimonial-section py-120" style="position: relative;" data-pgc-section="testimonial" data-pgc-define="client-testimonial" data-pgc-define-name="Client’s Testimonials"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <h3 class="large-inner-heading text-center pb-60">Client’s Testimonials</h3> 
            <div class="large-content-text text-center"> 
                Our clients love our services because they appreciate the quality of work that we deliver and the attentive customer service that they receive. They also enjoy the convenience of our fast turnaround times, which helps them meet their deadlines.
</div>             
        </div>         
        <div class="testimonial-wrapper owl-carousel"> 
            <div class="item testimonial-item" cms-post="query" cms-post-type="testimonial" wp-loop="testimonial" wp-loop-order="DESC" cms-post-type-order="date DESC"> 
                <div class="testimonial-img"> 
                    <img class="testimonial-image-icon" alt="" src="assets/images/rectangle-14@2x.png" cms-post-image/> 
                </div>                 
                <div class="testimonial-list"> 
                    <div class="quote-warp"> 
                        <img class="quote-icon" alt="" src="assets/images/quote.svg"/> 
                    </div>                     
                    <div class="testimonial-comment large-content-text" cms-post-content> 
                        I saw an increase in my sales right in time for Black Friday!  
</div>                     
                    <div class="testimonial-info"> 
                        <h4 class="testimonial-name" cms-post-title>Gina Paige</h4>
                        <a href="#" class="testimonial-web-link large-content-text" cms-post-field="website_url" cms-post-field-type="content" cms-post-field-acf>Africanancestry.com</a> 
                    </div>                     
                </div>                 
            </div>             
        </div>         
        <img src="assets/images/eclipse-left.svg" class="cirle-left"> 
        <img src="assets/images/eclipse-right.svg" class="cirle-right"> 
    </section>     
    <section class="contact-us-before-footer py-120 border-y border-#F2F2F2" data-pgc-section="lets-business" data-pgc-define="lets-create-business" data-pgc-define-name="Let's Create Buiness"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <div class="contact-us-before-footer-col contact-us-before-footer-col flex flex-wrap justify-center"> 
                <h3 class="large-inner-heading text-center"> 
                        let’s create remarkable experience for your business </h3>
                <a href="/contact-us/" class="bg-blue-btn view-all-btn"> <span>Contact us</span> <i class="fa-solid fa-arrow-right"></i> </a> 
            </div>             
        </div>         
    </section>     
    <section class="blog-section py-120" data-pgc-section="Recent Blog" data-pgc-define="blog" data-pgc-define-name="Recent Blog" data-pgc-define-auto-update="false" data-pgc-define-map-urls="false"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <h3 class="large-inner-heading text-center">Recent Blog Posts</h3> 
            <div class="blog-content-wrap flex flex-wrap justify-between gap-5"> 
                <div class="blog-post md:w-6/12" cms-post="query" cms-post-type="post" wp-loop="post" wp-loop-order="DESC" cms-post-type-order="date DESC" cms-post-type-count="2" cms-post-type-ignore-shown> 
                    <img class="blog-img" alt="blog img" src="./assets/images/blogimg@2x.png" cms-post-image/> 
                    <h4 class="medium-inner-heading" cms-post-title> 
                        How to choose an ecommerce web host </h4> <a href="#" class="read-more" cms-post-link>Read More</a> 
                </div>                 
            </div>             
        </div>         
    </section>     
    <section class="home-faqs py-120"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <h3 class="large-inner-heading text-center pb-60">Frequently Asked Questions</h3> 
            <div class="large-content-text text-center"> 
                Lorem ipsum is simply dummy text of the printing and typesetting
                industry. 
</div>             
            <div class="faq-wrap" cms-post="query" cms-post-type="faqs" wp-loop="faqs" wp-loop-order="DESC" cms-post-type-order="date DESC"> 
                <h4 class="accordion medium-inner-heading" cms-post-title>Website Design and Development</h4> 
                <div class="accordion-content large-content-text" cms-post-content> 
                    Whether you need a wordpress website, a shopify site, or a custom fullstack application, we got you! No matter what kind of website or application you need, it will be made with clean and maintable code that follows modern development standards. We also have top notch designers that can make unique designs that will make your website look different and unique. Not to mention that we also provide 24/7 website maintenance so that you get all the support you need. 
</div>                 
            </div>             
        </div>         
    </section>
