<html wp-template wp-template-export-as="pagespeed-code.php" wp-template-post-template wp-template-post-template-name="Page Speed" wp-site-content> 
    <section class="hero-banner py-120 relative"> 
        <div class="max-w-[90vw] mx-auto  w-full lg:container"> 
            <div class="flex"> 
                <div class="w-11/12"> 
                    <h1 class="hero-title"> Page Speed Test  </h1> 
                    <div class="hero-content mb-5"> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>                     
                </div>                 
            </div>             
        </div>         
        <img src="assets/images/banner-eclipse-left.svg" class="cirle-left"> 
    </section>     
    <section class="test-diagnosis py-120 relative border-y border-#F2F2F2" data-pg-collapsed> 
        <div class="max-w-[90vw] mx-auto  w-full lg:container"> 
            <h3 class="large-inner-heading text-center pb-60">Page speed test diagnosis</h3> 
            <div class="medium-content-text text-center"> 
                Est minima odit et cupiditate laborum qui sint dolor! Et aspernatur architecto ut libero vitae qui saepe possimus eum itaque voluptates ea.
</div>             
            <div class="speed-content-section"> 
                <div class="speed-view-btn-warpper"> 
                    <div class="speed-view-btn active" id="desktopView">Desktop</div>                     
                    <div class="speed-view-btn" id="mobileView">Mobile</div>                     
                </div>                 
                <div class="desktop-content speed-content" id="desktopView"> 
                    <h2>Desktop Results</h2> 
                    <div id="desktopResult"></div>                     
                </div>                 
                <div class="mobile-content speed-content" id="mobileView"> 
                    <h2>Mobile Results</h2> 
                    <div id="mobileResult"></div>                     
                </div>                 
            </div>             
        </div>         
    </section>     
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>     
    <script>
    $('.mobile-content.speed-content').hide();
    $('.speed-view-btn').click(function () {
      $('.speed-view-btn').removeClass('active');
      $(this).addClass('active');
      const btnActiveId = $('.speed-view-btn.active').attr('id');
      $('.speed-content').hide();
      $('.speed-content#' + btnActiveId).show();
    });

    function fetchPageSpeedData(apiUrl, strategy) {
      return fetch(apiUrl)
        .then(response => response.json())
        .then(data => {
          const fullPageImg = data.lighthouseResult.fullPageScreenshot.screenshot['data'];
          const performance = data.lighthouseResult.categories.performance.score * 100;
          const firstContentfulPaint = data.lighthouseResult.audits['first-contentful-paint'].displayValue;
          const speedIndex = data.lighthouseResult.audits['speed-index'].displayValue;
          const largestContentfulPaint = data.lighthouseResult.audits['largest-contentful-paint'].displayValue;
          const timeToInteractive = data.lighthouseResult.audits['interactive'].displayValue;
          const totalBlockingTime = data.lighthouseResult.audits['total-blocking-time'].displayValue;
          const cumulativeLayoutShift = data.lighthouseResult.audits['cumulative-layout-shift'].displayValue;

          const result = {
            fullPageImg,
            performance,
            firstContentfulPaint,
            speedIndex,
            largestContentfulPaint,
            timeToInteractive,
            totalBlockingTime,
            cumulativeLayoutShift
          };

          localStorage.setItem(strategy, JSON.stringify(result));
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
      const desktopResult = JSON.parse(localStorage.getItem('desktop'));
      const mobileResult = JSON.parse(localStorage.getItem('mobile'));

      if (desktopResult) {
        document.getElementById('desktopResult').innerHTML = generateResultHtml(
          desktopResult,
          'desktopChart1',
          'desktopChart2',
          'desktopChartText1',
          'desktopChartText2'
        );
        createPerformanceChart('desktopChart1', desktopResult.performance, 'desktopChartText1');
        createPerformanceChart('desktopChart2', desktopResult.performance, 'desktopChartText2');
      }
      if (mobileResult) {
        document.getElementById('mobileResult').innerHTML = generateResultHtml(
          mobileResult,
          'mobileChart1',
          'mobileChart2',
          'mobileChartText1',
          'mobileChartText2'
        );
        createPerformanceChart('mobileChart1', mobileResult.performance, 'mobileChartText1');
        createPerformanceChart('mobileChart2', mobileResult.performance, 'mobileChartText2');
      }
    });

    document.addEventListener('DOMContentLoaded', function() {
      const textValue = document.querySelector('.chart-text');

      let value = parseFloat(textValue.textContent).toFixed(0);
      textValue.textContent = value;
    });
    function generateResultHtml(data, chartId1, chartId2, chartTextId1, chartTextId2) {
      return `
              <div class="flex performance-chart">
                <div class="chart-content-wrap sm:w-12/12 md:w-6/12">
                  <div class="chart-container">
                    <div class="performace-chart-wrpper">
                      <canvas id="${chartId1}" class="performace-chart"></canvas>
                      <div class="chart-text" id="${chartTextId1}"></div>
                    </div>
                    <h3>Performance</h3>
                    <h5>Values are estimated and may vary. The performance score is calculated directly from these metrics.See calculator.</h5>
                    <div class="chart-color-info">
                      <div class="gray-dot-icon">0-49</div>
                      <div class="orange-dot-icon">50-80</div>
                      <div class="blue-dot-icon">90-100</div>
                    </div>
                  </div>
                </div>
                <div class="page-ss sm:w-12/12 md:w-6/12"> 
                  <img src="${data.fullPageImg}" alt="Full Page" class="full-page-img">
                </div>
              </div>

                <div class="scores-wrapper">
                  <div class="score-list">
                    <div class="chart-container">
                      <canvas id="${chartId2}"></canvas>
                      <div class="chart-text" id="${chartTextId2}"></div>
                    </div>
                    <h4>Performance</h4>
                  </div>
                    <div class="score-list">
                    <div class="chart-container">
                      <canvas id="${chartId2}"></canvas>
                      <div class="chart-text" id="${chartTextId2}"></div>
                    </div>
                    <h4>Accessibility</h4>
                  </div>
                    <div class="score-list">
                    <div class="chart-container">
                      <canvas id="${chartId2}"></canvas>
                      <div class="chart-text" id="${chartTextId2}"></div>
                    </div>
                    <h4>Best Practice</h4>
                  </div>
                    <div class="score-list">
                    <div class="chart-container">
                      <canvas id="${chartId2}"></canvas>
                      <div class="chart-text" id="${chartTextId2}"></div>
                    </div>
                    <h4>Performance</h4>
                  </div>
                </div>


                <div class="metric-wrapper">
                  <h3>Metrics</h3>
                   <div class="metric-list">
                    <div class="metric first-contentful-paint">
                      <div class="metric-dot">
                      </div>
                      <div class="metric-info">
                        <h4>First Contentful Paint</h4>
                        <p id="first-contentful-paint" class="metric-text">${data.firstContentfulPaint}</p>
                        <a href="#" class="speed-read-more">Read</a>
                      </div>
                    </div>
                    <div class="metric total-blocking-time">
                      <div class="metric-dot">
                      </div>
                      <div class="metric-info">
                        <h4>Total Blocking Time</h4>
                        <p id="total-blocking-time" class="metric-text">${data.totalBlockingTime}</p>
                        <a href="#" class="speed-read-more">Read</a>
                      </div>
                    </div>
                    <div class="metric speed-index">
                      <div class="metric-dot">
                      </div>
                      <div class="metric-info">
                        <h4>Speed Index</h4>
                        <p id="speed-index" class="metric-text">${data.speedIndex}</p>
                        <a href="#" class="speed-read-more">Read</a>
                      </div>
                    </div>
                    <div class="metric largest-contentful-paint">
                      <div class="metric-dot">
                      </div>
                      <div class="metric-info">
                        <h4>Largest Contentful Paint</h4>
                        <p id="largest-contentful-paint" class="metric-text">${data.largestContentfulPaint}</p>
                        <a href="#" class="speed-read-more">Read</a>
                      </div>
                    </div>
                    <div class="metric cumulative-layout-shift">
                      <div class="metric-dot">
                      </div>
                      <div class="metric-info">
                        <h4>Cumulative Layout Shift</h4>
                        <p id="cumulative-layout-shift" class="metric-text">${data.cumulativeLayoutShift}</p>
                        <a href="#" class="speed-read-more">Read</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="get-help-issue">
                  <p>Get help to resolve your issue</p>
                  <a href="/contact-us/" class="blue-btn"> <span>Get Start</span> <i class="fa-solid fa-arrow-right"></i> </a>
                </div>
            `;
    }

    // metric dot color

    //First Contentful Paint
    document.addEventListener('DOMContentLoaded', function () {
      const fcpValue = parseFloat(document.getElementById('first-contentful-paint').innerText);
      const metricDot = document.querySelector('.first-contentful-paint .metric-dot');
      const metricText = document.querySelector('.first-contentful-paint .metric-text');
      if (fcpValue > 0.6) {
        metricDot.classList.add('blue-dot-icon');
        metricText.classList.add('blue-text');
      } else if (fcpValue > 0.3) {
        metricDot.classList.add('orange-dot-icon');
        metricText.classList.add('orange-text');
      } else {
        metricDot.classList.add('gray-dot-icon');
        metricText.classList.add('gray-text');
      }
    });

    //Total Blocking Time
    document.addEventListener('DOMContentLoaded', function () {
      const fcpValue = parseFloat(document.getElementById('total-blocking-time').innerText);
      console.log(fcpValue);
      const metricDot = document.querySelector('.total-blocking-time .metric-dot');
      const metricText = document.querySelector('.total-blocking-time .metric-text');
      if (fcpValue < 200) {
        metricDot.classList.add('blue-dot-icon');
        metricText.classList.add('blue-text');
      } else if (fcpValue < 500) {
        metricDot.classList.add('orange-dot-icon');
        metricText.classList.add('orange-text');
      } else {
        metricDot.classList.add('gray-dot-icon');
        metricText.classList.add('gray-text');
      }
    });

    //Speed Index
    document.addEventListener('DOMContentLoaded', function () {
      const fcpValue = parseFloat(document.getElementById('speed-index').innerText);
      const metricDot = document.querySelector('.speed-index .metric-dot');
      const metricText = document.querySelector('.speed-index .metric-text');
      if (fcpValue > 6) {
        metricDot.classList.add('blue-dot-icon');
        metricText.classList.add('blue-text');
      } else if (fcpValue > 3) {
        metricDot.classList.add('orange-dot-icon');
        metricText.classList.add('orange-text');
      } else {
        metricDot.classList.add('gray-dot-icon');
        metricText.classList.add('gray-text');
      }
    });

    //Largest Contentful Paint
    document.addEventListener('DOMContentLoaded', function () {
      const fcpValue = parseFloat(document.getElementById('largest-contentful-paint').innerText);
      const metricDot = document.querySelector('.largest-contentful-paint .metric-dot');
      const metricText = document.querySelector('.largest-contentful-paint .metric-text');
      if (fcpValue > 6) {
        metricDot.classList.add('blue-dot-icon');
        metricText.classList.add('blue-text');
      } else if (fcpValue > 3) {
        metricDot.classList.add('orange-dot-icon');
        metricText.classList.add('orange-text');
      } else {
        metricDot.classList.add('gray-dot-icon');
        metricText.classList.add('gray-text');
      }
    });

    // Cumulative Layout Shift
    document.addEventListener('DOMContentLoaded', function () {
      const fcpValue = parseFloat(document.getElementById('cumulative-layout-shift').innerText);
      const metricDot = document.querySelector('.cumulative-layout-shift .metric-dot');
      const metricText = document.querySelector('.cumulative-layout-shift .metric-text');
      if (fcpValue < 0.3) {
        metricDot.classList.add('blue-dot-icon');
        metricText.classList.add('blue-text');
      } else if (fcpValue < 0.6) {
        metricDot.classList.add('orange-dot-icon');
        metricText.classList.add('orange-text');
      } else {
        metricDot.classList.add('gray-dot-icon');
        metricText.classList.add('gray-text');
      }
    });

    function createPerformanceChart(chartId, performanceScore, textId) {
      const ctx = document.getElementById(chartId).getContext('2d');
      const chartText = document.getElementById(textId);
      chartText.textContent = `${performanceScore}`;

      let backgroundColor;
      if (performanceScore >= 90) {
        backgroundColor = '#3B65AF';
      } else if (performanceScore >= 50) {
        backgroundColor = '#FF5622';
      } else {
        backgroundColor = '#666666';
      }

      new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ['Performance Score', 'Remaining'],
          datasets: [{
            data: [performanceScore, 100 - performanceScore],
            backgroundColor: [backgroundColor, '#F2F2F2'],
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            tooltip: {
              enabled: false
            },
            legend: {
              display: false
            }
          },
          cutout: '70%'
        }
      });
    }
  </script>
    <section class="recog-section py-120 relative" data-pg-collapsed data-pgc="our-recognitions"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <h3 class="large-inner-heading text-center"> Our recognitions </h3> 
            <div class="recog-list"> 
                <div class="recog-list-logo flex justify-center gap-5"> 
                    <img alt="logo" src="assets/images/BBB-logo.svg"/> 
                </div>                 
                <div class="recog-list-logo flex justify-center gap-5"> 
                    <img alt="logo" src="assets/images/clucth-florida.svg"/> 
                    <img alt="logo" src="assets/images/clucth-us.svg"/> 
                    <img alt="logo" src="assets/images/clucth-black-owned.svg"/> 
                    <img alt="logo" src="assets/images/clucth-tampa.svg"/> 
                </div>                 
            </div>             
            <img src="assets/images/eclipse-left.svg" class="cirle-left" alt="cirle-left"> 
            <img src="assets/images/eclipse-right.svg" class="cirle-right" alt="cirle-right"> 
        </div>         
    </section>
    <section class="why-us-section py-120" data-pg-collapsed data-pgc="why-us"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <h3 class="large-inner-heading text-center pb-60" wp-acf-get-field="why_magehd_title">why mage h.d.</h3> 
            <div class="large-content-text text-center" wp-acf-get-field="why_magehd_content"> 
                Mage H.D. Inc is the premier choice for digital marketing companies
                in USA when it comes to digital marketing solutions. Our team of
                experienced professionals has a deep understanding of the digital
                marketing landscape and can provide unique, comprehensive strategies
                that fit your budget and timeline. With our expertise and commitment
                to customer satisfaction, you can be sure your goals will be met
                with success. We combine innovative technologies with creative
                campaigns to ensure maximum reach and engagement, making us the
                ultimate partner for any business looking to grow their online
                presence. Mage H.D. Inc stands above other digital marketing
                agencies because of our proven track record of success and
                dedication to excellence. 
</div>             
            <iframe title="Dummy Video For Website" width="992" height="650" src="https://www.youtube.com/embed/D0UnqGm_miA?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="" wp-acf-get-field-5="why_magehd_video" wp-acf-get-field-5-set="src"></iframe>             
        </div>         
    </section>
    <section class="project py-120" data-pgc="website-project" data-pg-collapsed> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <h3 class="large-inner-heading text-center">Check out or recent website projects</h3> 
            <div class="blog-category py-120"> 
                <button class="border-btn web-deisgn active" id="all"> 
                    All
</button>                 
                <button class="border-btn web-deisgn" id="category-digital-marketing"> 
                    Digital Marketing                        
</button>                 
                <button class="border-btn web-deisgn" id="category-web-development"> 
                    Web Development
</button>                 
            </div>             
            <div class="project-main-wrapper flex flex-wrap justify-between gap-5"> 
                <div class="project-detail md:w-6/12" cms-post="query" cms-post-type="partners" wp-loop="partners" wp-loop-order="DESC" cms-post-type-order="name ASC" cms-post-type-count="4"> 
                    <img class="project-cover-img" alt="Website Project" src="./assets/images/koilsimg@2x.png" cms-post-image/> 
                    <h4 class="project-title" cms-post-title>Treckians</h4><a href="#" cms-post-link class="explore-more"> <span>Explore</span> </a> 
                </div>                 
            </div>             
            <div class="view-all-btn-warp"> <a href="/partners/" cms-post-link class="border-btn view-all-btn"> <span>View All</span> <i class="fa-solid fa-arrow-right"></i> </a> 
            </div>             
        </div>         
    </section>
    <section class="client-testimonial-section py-120 relative border-y border-#F2F2F2" data-pgc="client-testimonial" data-pg-collapsed> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <h3 class="large-inner-heading text-center pb-60">Client’s Testimonials</h3> 
            <div class="large-content-text text-center"> 
                Our clients love our services because they appreciate the quality of work that we deliver and the attentive customer service that they receive. They also enjoy the convenience of our fast turnaround times, which helps them meet their deadlines.
</div>             
        </div>         
        <div class="testimonial-wrapper owl-carousel"> 
            <div class="item testimonial-item" cms-post="query" cms-post-type="testimonial" wp-loop="testimonial" wp-loop-order="DESC" cms-post-type-order="date DESC"> 
                <div class="testimonial-img"> 
                    <img class="testimonial-image-icon" alt="testimonial-image-icon" src="assets/images/rectangle-14@2x.png" cms-post-image/> 
                </div>                 
                <div class="testimonial-list"> 
                    <div class="quote-warp"> 
                        <img class="quote-icon" alt="quote-icon" src="assets/images/quote.svg"/> 
                    </div>                     
                    <div class="testimonial-comment large-content-text" cms-post-content> 
                        I saw an increase in my sales right in time for Black Friday!  
</div>                     
                    <div class="testimonial-info"> 
                        <h4 class="testimonial-name" cms-post-title>Gina Paige</h4><a href="#" class="testimonial-web-link large-content-text" cms-post-field="website_url" cms-post-field-type="content" cms-post-field-acf>Africanancestry.com</a> 
                    </div>                     
                </div>                 
            </div>             
        </div>         
        <img src="assets/images/eclipse-left.svg" class="cirle-left" alt="cirle-left"> 
        <img src="assets/images/eclipse-right.svg" class="cirle-right" alt="cirle-right"> 
    </section>
    <section class="contact-us-before-footer py-120 border-y border-#F2F2F2" data-pgc="lets-create-business"> 
        <div class="max-w-[90vw] mx-auto w-full lg:container"> 
            <div class="contact-us-before-footer-col contact-us-before-footer-col flex flex-wrap justify-center"> 
                <h3 class="large-inner-heading text-center"> 
                        let’s create remarkable experience for your business </h3><a href="/contact-us/" class="bg-blue-btn view-all-btn"> <span>Contact us</span> <i class="fa-solid fa-arrow-right"></i> </a> 
            </div>             
        </div>         
    </section>
